div#root {
  height: 100vh;
}


.home-grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(9, 1fr);
  height: 100vh;
  grid-gap: 10px;
}

.home-container {
  display: grid;
  grid-auto-rows: repeat(5, 1fr);
  grid-template-columns: auto;
  grid-row: 4 / span 5;
  grid-column: 3 / span 5;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.create-time-container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-columns: repeat(2, 1fr);
  grid-row: 4 / span 7;
  grid-column: 3 / span 5;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.meeting-range-container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-columns: repeat(2, 1fr);
  grid-row: 4 / span 7;
  grid-column: 3 / span 5;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1;
  grid-column: 1 / span 9;
  grid-row: 1;
  align-items: center;
  border-bottom: 1px solid black;
  border-radius: 2px;
}

.nav-app-name {
  grid-row: 1;
  grid-column: 1;
}

.create-range-container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-row: 4 / span 5;
  grid-column: 3 / span 5;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.create-range-banner {
  grid-column: 1 / span 2;
  grid-row: 1;
  text-align: center;
}

.create-range-first-name {
  grid-column: 1;
  grid-row: 2;
}

.create-range-first-name-input {
  grid-column: 1;
  grid-row: 2;
}

.create-range-last-name-input {
  grid-column: 2;
  grid-row: 2;
}



.create-range-last-name {
  grid-column: 1;
  grid-row: 3;
}

.create-range-last-name-label {
  grid-column: 2;
  grid-row: 3;
}

.create-range-first-day {
  grid-column: 1;
  grid-row: 4;
}
.create-range-last-day {
  grid-column: 2;
  grid-row: 4;
}

.create-range-time-limit {
  grid-column: 1;
  grid-row: 5;
  align-items: center;
}

.create-range-time-button {
  grid-column: 1 / span 2;
  grid-row: 6;
}


.day-range-grid {
  display: grid;
  grid-column: 3 / span 5;
  grid-row: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  grid-gap: 2.5px;
}

.day-range-item-1 {
  grid-column: 3;
}
.day-range-item-2 {
  grid-column: 4;
}

.day-range-grid-item1 {
  grid-column: 4 / span 3;
  grid-row: 1;
}

.time-range-day-border {
  border: 2px solid grey;
}

.time-range-day-1 {
  grid-column: 2 / span 1;
  grid-row: 2;
}
.time-range-day-2 {
  grid-column: 3 / span 1;
  grid-row: 2;
}
.time-range-day-3 {
  grid-column: 4 / span 1;
  grid-row: 2;
}
.time-range-day-4 {
  grid-column: 5 / span 1;
  grid-row: 2;
}
.time-range-day-5 {
  grid-column: 6 / span 1;
  grid-row: 2;
}
.time-range-day-6 {
  grid-column: 7 / span 1;
  grid-row: 2;
}
.time-range-day-7 {
  grid-column: 8 / span 1;
  grid-row: 2;
}
.time-range-save {
  grid-column: 3 / span 2;
  grid-row: 3;
  margin-top: 40px;
  height: 35%;
}
.time-range-pagination {
  grid-column: 8;
  grid-row: 1;
  align-self: end;
}



.border {
  padding: 10px;
  border: 3px solid;
  border-radius: 6px;
  background: rgba(255,255,255,0.95);
  box-shadow: 5px 5px;

}
.date-range-container {
  display: grid;
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
  grid-auto-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}


.home-container-item1 {
  grid-row: 1;
}

.home-container-item2 {
  grid-row: 2;
}
.home-container-item3 {
  grid-row: 3;
}
.home-container-item4 {
  grid-row: 4;
}
.home-container-item5 {
  grid-row: 5;
}
.home-container-item6 {
  grid-row: 6;
}

.date-range-container-item1 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.date-range-container-item2 {
  grid-row: 2;
  grid-column: 1;
}

.date-range-container-item3 {
  grid-row: 2;
  grid-column: 2;
}

.date-range-container-item4 {
  grid-row: 3;
  grid-column: 1 / span 2;
}
